{% extends 'base.html.twig' %}

{% block title %}Sending list{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('script/campaign/script.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="flex justify-between items-center mb-5">
        <h1 class="h1">Campaigns</h1>
        <a class="btn btn-success h-10" href="{{ path('campaign_edit_one', { 'id': 'new' }) }}">Create</a>
    </div>

    {% for entry in campaigns %}
        <a href="{{ path('campaign_view', {'id': entry.id}) }}" class="flex justify-between p-3 bg-gray-100 border-slate-100 border rounded-md mb-3">
            <div class="">
                <p class="h3 text-slate-800">{{ entry.name }}</p>
                <span>State : </span>
                <span class="text-slate-800 {% if entry.state.value == 'pending' %} text-yellow-500
                                            {% elseif entry.state.value == 'cancelled' %} text-red-500
                                            {% elseif entry.state.value == 'launched' %} text-blue-500 {% endif %}">
                    {{ entry.state.value }}
                </span>
            </div>
            <div>
                <button class="btn btn-primary h-10">See</button>
                <button id="btn-delete"
                        data-href="{{ path('campaign_delete', { 'id': entry.id }) }}"
                        class="btn btn-danger h-10">
                    {{ ux_icon('ion:trash-outline', {class: 'w-4 h-4'}) }}
                </button>
            </div>
        </a>
    {% endfor %}
{% endblock %}
