<!DOCTYPE html>
<html lang="FR-fr">
    <head>
        <meta charset="UTF-8">
        <title>SMS console - {% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav>
            <div class="flex w-full p-3 !pl-10 bg-slate-700">
                <a href="{{ path('sending_list') }}" class="btn btn-dark block mr-2">Home</a>
                <a href="{{ path('sending_list') }}" class="btn btn-dark block mr-2">Sending lists</a>
                <a href="{{ path('campaign') }}" class="btn btn-dark block mr-2">Campaigns</a>
            </div>
        </nav>
        <div class="p-10">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
