{% extends 'base.html.twig' %}
{% from 'macros.html.twig' import bytesToSize %}

{% block title %}Sending list - {{ entry.name }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="flex justify-between mb-6">
        <h1 class="h1">{% if entry.id and entry.name %}Sending list - {{ entry.name }} {% endif %}</h1>
        <a href="{{ path('sending_list_edit', {'id': entry.id}) }}" class="btn pb-0 h-10 btn-primary">Edit</a>
    </div>
    
    <h1 class="h3 mb-3">File</h1>
    <div class="flex justify-between p-3 bg-gray-100 border-slate-100 border rounded-md mb-6">
        <p>{{ entry.fileName }}</p>
        <p>{{ bytesToSize(entry.fileSize) }}</p>
    </div>

{% endblock %}
